USE [master]
GO
/****** Object:  Database [user1]    Script Date: 11/29/2022 2:19:50 AM ******/
CREATE DATABASE [user1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user1', FILENAME = N'D:\SQL2019\MSSQL15.SQLEXPRESS01\MSSQL\DATA\user1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user1_log', FILENAME = N'D:\SQL2019\MSSQL15.SQLEXPRESS01\MSSQL\DATA\user1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user1]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 11/29/2022 2:19:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[MiddleName] [nvarchar](30) NULL,
	[DateOfBrith] [nvarchar](30) NOT NULL,
	[PhoneNumber] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flat]    Script Date: 11/29/2022 2:19:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flat](
	[IdFlat] [int] IDENTITY(1,1) NOT NULL,
	[HouseNumber] [nvarchar](10) NOT NULL,
	[Number] [nvarchar](10) NOT NULL,
	[TotalArea] [nvarchar](10) NOT NULL,
	[LivingArea] [nvarchar](10) NOT NULL,
	[NumberOfRooms] [nvarchar](10) NOT NULL,
	[Cost] [nvarchar](10) NOT NULL,
	[IdStatus] [int] NOT NULL,
	[IdJK] [int] NOT NULL,
 CONSTRAINT [PK_Flat] PRIMARY KEY CLUSTERED 
(
	[IdFlat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JK]    Script Date: 11/29/2022 2:19:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JK](
	[IdJK] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_JK] PRIMARY KEY CLUSTERED 
(
	[IdJK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/29/2022 2:19:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] NOT NULL,
	[RoleName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 11/29/2022 2:19:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[IdSale] [int] IDENTITY(1,1) NOT NULL,
	[IdFlat] [int] NOT NULL,
	[IdStaff] [int] NOT NULL,
	[IdClient] [int] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[IdSale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/29/2022 2:19:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[IdStaff] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[MiddleName] [nvarchar](30) NULL,
	[PhoneNumber] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[IdStaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 11/29/2022 2:19:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 11/29/2022 2:19:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Flat] ON 

INSERT [dbo].[Flat] ([IdFlat], [HouseNumber], [Number], [TotalArea], [LivingArea], [NumberOfRooms], [Cost], [IdStatus], [IdJK]) VALUES (1, N'228', N'133', N'350', N'300', N'203', N'18000000', 1, 1)
SET IDENTITY_INSERT [dbo].[Flat] OFF
GO
SET IDENTITY_INSERT [dbo].[JK] ON 

INSERT [dbo].[JK] ([IdJK], [Name]) VALUES (1, N'A101')
INSERT [dbo].[JK] ([IdJK], [Name]) VALUES (2, N'НовоеБутово')
INSERT [dbo].[JK] ([IdJK], [Name]) VALUES (3, N'НовыйГрозный')
SET IDENTITY_INSERT [dbo].[JK] OFF
GO
INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (2, N'Client')
INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (3, N'Staff')
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([IdStatus], [StatusName]) VALUES (1, N'Продано')
INSERT [dbo].[Status] ([IdStatus], [StatusName]) VALUES (2, N'Не продано')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([UserId], [Password], [Login], [IdRole]) VALUES (2, N'123', N'Adm', 1)
INSERT [dbo].[user] ([UserId], [Password], [Login], [IdRole]) VALUES (4, N'123', N'2Loxf', 2)
INSERT [dbo].[user] ([UserId], [Password], [Login], [IdRole]) VALUES (5, N'123', N'3Lox', 3)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[Flat]  WITH CHECK ADD  CONSTRAINT [FK_Flat_JK] FOREIGN KEY([IdJK])
REFERENCES [dbo].[JK] ([IdJK])
GO
ALTER TABLE [dbo].[Flat] CHECK CONSTRAINT [FK_Flat_JK]
GO
ALTER TABLE [dbo].[Flat]  WITH CHECK ADD  CONSTRAINT [FK_Flat_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([IdStatus])
GO
ALTER TABLE [dbo].[Flat] CHECK CONSTRAINT [FK_Flat_Status]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Client] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Client] ([IdClient])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Client]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Flat] FOREIGN KEY([IdFlat])
REFERENCES [dbo].[Flat] ([IdFlat])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Flat]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Staff] FOREIGN KEY([IdStaff])
REFERENCES [dbo].[Staff] ([IdStaff])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Staff]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_Role1] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_Role1]
GO
USE [master]
GO
